.contato-bg {
    background-color: var(--color-8);
    position: relative;
    padding: var(--padding1) 10px var(--padding2) 10px;
}

.contato-bg::before {
    position: absolute;
    top: -120px;
    right: 0;
    display: block;
    content: "";
    height: 123px;
    width: 100%;
    background: url("/assets//img//borda.svg") no-repeat;
    transform: rotateX(180deg);
}

.contato .titulo {
    margin-bottom: 40px;
}

@media screen and (max-width: 900px) {
    .contato-bg::before {
        top: -90px;
        height: 93px;
    }
}

@media screen and (max-width: 800px) {
    .contato-bg::before {
        top: -60px;
        height: 63px;
    }
}

@media screen and (max-width: 600px) {
    .contato-bg {
        padding: var(--padding2) 10px;
    }
}

@media screen and (max-width: 550px) {
    .contato-bg::before {
        top: -40px;
        height: 43px;
    }
}
