.projetos-bg {
    padding-top: var(--padding3);
    padding-bottom: var(--padding4);
}

.projetos-bg .container {
    max-width: 100%;
    margin: 0 auto;
}

.projetos-bg .titulo {
    margin-bottom: 40px;
}

.projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.projeto-card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
}

.projeto-card:nth-child(1) {
    background-color: var(--color-8);
}

.projeto-card:nth-child(2) {
    background-color: #ff914d;
}

.projeto-card:nth-child(3) {
    background-color: #ffbb55;
}

.projeto-card figure {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 12px;
    padding: 20px;

    height: 287px;
    width: 431px;
    position: relative;
}

.projeto-card figure img {
    align-self: center;
    height: auto;
    width: 80%;
    padding: 20px;
    transition: ease-in-out 0.25s;
}

.projeto-card figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;

    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;

    background-color: var(--color-7);
    padding: 20px;
    border-radius: 12px;

    transition: ease-in-out 0.45s;
}

.projeto-card figcaption:hover {
    opacity: 1;
}

.projeto-card figcaption p:first-of-type {
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .projeto-card figure {
        height: 247px;
        max-width: 345px;
    }
}
