.header-bg {
    background-color: var(--color-9);
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.menu a {
    padding: 12px;
    transition: 0.3s;
}

.menu a:hover {
    color: var(--color-3);
}

.js .menu a.ativo {
    color: var(--color-1);
}

@media screen and (max-width: 600px) {
    .header {
        justify-content: center;
        gap: 20px;
    }

    .menu {
        justify-content: center;
        gap: 10px;
    }

    .menu a {
        padding: 7px 14px;
        background-color: var(--color-7);
        border-radius: 10px;
    }

    .menu a::after {
        display: none;
    }
}
