@import "tipografia";

/* CONTAINER */
.container {
    max-width: 75rem;
    margin: 0 auto;
    padding-left: 0.625rem;
    padding-right: 0.625rem;

    h2 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 2.5rem;

        @include d(c1) {
            margin-bottom: 1.875rem;
        }

        @include d(t2) {
            margin-bottom: 1.25rem;
        }

        @include d(m1) {
            text-align: left;
        }

        &::before {
            display: inline-block;
            content: "";
            height: 1.063rem;
            width: 0.25rem;
            background: $color-5;
            margin-right: 0.25rem;
        }
    }
}

/* BOTÃO */
.botao {
    display: inline-block;
    background: none;
    color: $color-9;
    padding: 0.75rem 1.25rem;
    border-radius: 0.625rem;
    border: 0.188rem solid $color-9;
    font: 600 1rem/1 $font-1;
    box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.1);
    max-width: max-content;
    cursor: pointer;

    @include d(m1) {
        padding: 0.75rem 1rem;
    }

    &:hover {
        background: linear-gradient($color-6, $color-7);
        color: $color-1;
        opacity: 0.9;
    }

    &.secundario {
        background: linear-gradient($color-6, $color-7);
        color: $color-1;
        opacity: 1;

        &:hover {
            opacity: 0.9;
        }
    }

    &.terciario {
        border-color: $color-4;
        background: linear-gradient($color-6, $color-7);
        color: $color-1;
        opacity: 1;

        &:hover {
            opacity: 0.9;
        }
    }
}

span.destaque {
    font-weight: bold;
}
