.contato-bg {
    background: $color-8;
    position: relative;
    padding: var(--padding1) 0.625rem var(--padding2) 0.625rem;

    @include d(m1) {
        padding: var(--padding2) 0.625rem;
    }

    &::before {
        position: absolute;
        top: -7.5rem;
        right: 0;
        display: block;
        content: "";
        height: 7.688rem;
        width: 100%;
        background: url("/assets//img//borda.svg") no-repeat;
        transform: rotateX(180deg);

        @include d(c2) {
            top: -5.625rem;
            height: 5.813rem;
        }

        @include d(t1) {
            top: -3.75rem;
            height: 3.938rem;
        }

        @include d(m2) {
            top: -2.5rem;
            height: 2.688rem;
        }
    }
}

@keyframes popup {
    from {
        transform: matrix3d(-1.875rem, 0, 0);
        opacity: 0;
        transform: scale(0.7);
    }
    to {
        transform: matrix3d(1.875rem, 0, 0);
        opacity: 1;
        transform: scale(1);
    }
}

.js .js-contato-mensagem {
    display: none;

    &.ativo {
        display: grid;
        place-items: center;
        background: $color-8;
        max-width: 50rem;
        height: 27.625rem;
        margin: 0 auto;
        animation: popup 0.7s forwards;
    }
}

.js .mensagem-enviada,
.js .mensagem-erro {
    display: none;
    &.ativo {
        display: block;
        text-align: center;

        span {
            display: inline-block;
            color: $color-5;
            font-weight: bold;
            cursor: pointer;
        }

        .botao {
            margin-top: 2.5rem;
        }
    }
}
