.contato-bg {
    background: $color-8;
    position: relative;
    padding: var(--padding1) 10px var(--padding2) 10px;

    @include d(m1) {
        padding: var(--padding2) 10px;
    }

    &::before {
        position: absolute;
        top: -120px;
        right: 0;
        display: block;
        content: "";
        height: 123px;
        width: 100%;
        background: url("/assets//img//borda.svg") no-repeat;
        transform: rotateX(180deg);

        @include d(c2) {
            top: -90px;
            height: 93px;
        }

        @include d(t1) {
            top: -60px;
            height: 63px;
        }

        @include d(m2) {
            top: -40px;
            height: 43px;
        }
    }
}

.contato {
    .titulo {
        margin-bottom: 40px;
    }
}

@keyframes popup {
    from {
        transform: matrix3d(-30px, 0, 0);
        opacity: 0;
        transform: scale(0.7);
    }
    to {
        transform: matrix3d(30px, 0, 0);
        opacity: 1;
        transform: scale(1);
    }
}

.js .js-contato-mensagem {
    display: none;

    &.ativo {
        display: grid;
        place-items: center;
        background: $color-8;
        max-width: 800px;
        height: 442px;
        margin: 0 auto;
        animation: popup 0.7s forwards;
    }
}

.js .mensagem-enviada,
.js .mensagem-erro {
    display: none;
    &.ativo {
        display: block;
        text-align: center;

        span {
            display: inline-block;
            color: $color-5;
            font-weight: bold;
            cursor: pointer;
        }

        .botao {
            margin-top: 40px;
        }
    }
}
