.footer-bg {
    background-color: var(--color-9);
    padding: var(--padding1);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-social h3 {
    margin-bottom: 5px;
    text-transform: uppercase;
}

.footer-social ul {
    display: flex;
    gap: 10px;
}

.footer-social a {
    padding: 5px 10px;
}

.footer .copy {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .footer-content {
        flex-direction: column;
        justify-content: center;
    }

    .footer-content,
    .footer-content > a {
        margin-bottom: 20px;
    }

    .footer-social {
        text-align: center;
    }
}
