.footer-bg {
    background: $color-9;
    padding: var(--padding1);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        @include d(m1) {
            margin-bottom: 1.25rem;
        }
    }

    @include d(m1) {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1.25rem;
    }
}

.footer-social {
    @include d(m1) {
        text-align: center;
    }

    h3 {
        margin-bottom: 0.313rem;
        text-transform: uppercase;
    }

    ul {
        display: flex;
        gap: 0.625rem;
    }

    a {
        padding: 0.313rem 0.625rem;

        .rede-social {
            width: 2.25rem;
            height: 2.25rem;
        }
    }
}

.footer .copy {
    text-align: center;
}
