@import "tipografia";

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    position: relative;

    @include d(m1) {
        grid-template-columns: 1fr;
    }

    label {
        display: block;
        margin-bottom: 4px;
    }

    &::placeholder {
        color: #9c9c9c;
    }

    .col-2 {
        grid-column: 1/-1;

        @include d(m1) {
            grid-column: 1;
        }
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    textarea {
        background: #f7f7f7;
        transition: 0.2s;

        @include font-1-d(16);
        border: 1px solid $color-6;
        padding: 12px;
        border-radius: 4px;
        width: 100%;

        &:focus,
        &:hover {
            outline: none;
            border-color: $color-2;
            background: $color-1;
            box-shadow: 0 0 0 2px $color-5;
        }
    }

    .obrigatorio {
        color: $color-5;
    }
}

.js .form.inativo {
    display: none;
}
