.habilidades-bg {
    background: $color-8;
    position: relative;
    padding: var(--padding1) 0.625rem;

    @include d(m1) {
        padding: var(--padding2) 0.625rem;
    }

    &::before {
        position: absolute;
        top: -7.5rem;
        right: 0;
        display: block;
        content: "";
        height: 7.688rem;
        width: 100%;
        background: url("/assets//img//borda.svg") no-repeat;
        transform: rotateX(180deg);

        @include d(c2) {
            top: -5.625rem;
            height: 5.813rem;
        }

        @include d(t1) {
            top: -3.75rem;
            height: 3.938rem;
        }

        @include d(m2) {
            top: -2.5rem;
            height: 2.688rem;
        }
    }

    &::after {
        position: absolute;
        bottom: -7.5rem;
        right: 0;
        display: block;
        content: "";
        height: 7.688rem;
        width: 100%;
        background: url("/assets//img//borda.svg") no-repeat;

        @include d(c2) {
            bottom: -5.625rem;
            height: 5.813rem;
        }

        @include d(t1) {
            bottom: -3.75rem;
            height: 3.938rem;
        }

        @include d(m2) {
            bottom: -2.5rem;
            height: 2.688rem;
        }
    }
}

.skill {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 2.5rem;

    div {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0.625rem;
        width: 18.75rem;

        @include d(c1) {
            align-items: flex-start;
            gap: 0;
            width: 100%;
        }

        @include d(c2) {
            max-width: 47.5rem;
        }

        @include d(t1) {
            max-width: 40rem;
        }

        @include d(t2) {
            align-items: center;
            max-width: 34.375rem;
        }

        @include d(m1) {
            max-width: 30.625rem;
        }

        @include d(m2) {
            align-items: center;
            max-width: 21.25rem;
        }

        img {
            margin-bottom: 1.25rem;

            @include d(c1) {
                display: none;
            }
        }
    }
}

.hard.skill {
    margin-bottom: 5rem;

    @include d(c1) {
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
    }

    @include d(t2) {
        margin-bottom: 2.5rem;
    }

    @include d(m3) {
        gap: 0.625rem;
    }
}

.soft.skill {
    flex-direction: row-reverse;

    @include d(c1) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;
    }
}

.skill-titulo {
    margin-bottom: 0.625rem;

    @include d(c1) {
        margin-bottom: 0.625rem;
    }
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 1.25rem;

    @include d(c1) {
        grid-template-columns: repeat(4, 1fr);
    }

    @include d(c2) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include d(m2) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include d(m3) {
        grid-template-columns: repeat(5, 1fr);
        max-width: 20rem;
        overflow-x: scroll;
        padding-bottom: 0.625rem;
        gap: 0.875rem;
    }

    @include d(m4) {
        max-width: 17.5rem;
        padding-bottom: 0.625rem;
        gap: 0.625rem;
    }

    li {
        font-family: $font-2;
        position: relative;
        background: $color-7;
        padding: 1.875rem;
        border-radius: 0.25rem;

        height: 7.5rem;
        width: 12.5rem;
        cursor: pointer;

        opacity: 0.7;
        transition: 0.5s;

        &:hover {
            border-radius: 0 0.25rem 0.25rem 0;
            opacity: 1;
        }

        &::before {
            display: inline-block;
            content: "";
            position: absolute;
            top: 1.875rem;
            left: -0.25rem;

            background: aqua;
            border-radius: 0.25rem 0 0 0.25rem;
            height: 1.25rem;
            width: 0.25rem;

            transition: 0.5s;
        }

        &:hover::before {
            top: 0;
            height: 100%;
        }

        @include d(c2) {
            width: 15rem;
        }

        @include d(t1) {
            max-width: 12.5rem;
        }

        @include d(t2) {
            display: flex;
            align-items: center;
            height: 4.375rem;
            max-width: 10.625rem;
            word-break: break-all;

            &::before {
                top: 0.938rem;
            }
        }

        @include d(m1) {
            max-width: 9.375rem;
        }

        @include d(m2) {
            max-width: 10rem;
        }

        @include d(m4) {
            &::before {
                left: -0.125rem;
                width: 0.125rem;
            }
        }
    }
}

.descriptions-list p:last-child {
    display: none;
}

.js {
    .js-tabcontent {
        @include d(c1) {
            width: 100%;
        }

        p {
            display: none;
            &.ativo {
                display: block !important;
                animation: show 0.7s forwards;
            }

            span {
                color: $color-5;
            }
        }
    }

    @keyframes show {
        from {
            opacity: 0;
            transform: translate3d(1.875rem, 0, 0);
        }

        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    .hard.skill .js-tabcontent p.ativo {
        @include d(c1) {
            height: 3rem;
            max-width: 100%;
        }

        @include d(c2) {
            height: 4.5rem;
        }

        @include d(m1) {
            height: 6rem;
        }

        @include d(m1) {
            height: 7.5rem;
        }

        @include d(m3) {
            height: 9rem;
        }
    }

    .soft.skill .js-tabcontent p.ativo {
        @include d(c1) {
            height: 3rem;
            width: 100%;
        }

        @include d(t2) {
            height: 6rem;
        }

        @include d(m3) {
            height: 7.5rem;
        }
    }
}
