.introducao {
    padding-top: 162px;

    @include d(t1) {
        padding-top: 152px;
    }

    @include d(m1) {
        padding-top: 104px;
    }
}

.introducao-titulo {
    text-align: center;
    margin-bottom: 40px;

    @include d(t1) {
        text-align: left;
        margin-bottom: 30px;
    }
}

.introducao-informacoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 40px;

    @include d(t1) {
        flex-direction: column;
        gap: 15px;
        margin-bottom: 30px;
    }
}

.introducao-imagem {
    @include d(t1) {
        display: none;
    }

    img {
        max-width: none;
    }
}

.introducao-conteudo {
    h2 {
        text-align: left;
        margin-bottom: 10px;
        text-transform: capitalize;
    }

    p {
        max-width: 400px;

        @include d(t1) {
            max-width: max-content;
        }
    }
}

.introducao-botoes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
