.projetos-bg {
    padding-top: var(--padding3);
    padding-bottom: var(--padding4);

    .container {
        max-width: 100%;
        margin: 0 auto;
    }
}

.projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
}

.projeto-card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.75rem;

    &:nth-child(1) {
        background: $color-8;
    }

    &:nth-child(2) {
        background: #ff914d;
    }

    &:nth-child(3) {
        background: #ffbb55;
    }

    figure {
        display: flex;
        flex-direction: column;
        justify-content: center;

        border-radius: 0.75rem;
        padding: 1.25rem;

        height: 17.938rem;
        width: 26.938rem;
        position: relative;

        @include d(m1) {
            height: 15.438rem;
            max-width: 21.563rem;
        }

        img {
            align-self: center;
            height: auto;
            width: 80%;
            padding: 1.25rem;
            transition: ease-in-out 0.25s;
        }
    }

    figcaption {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;
        text-align: center;

        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;

        background: rgba(20, 20, 20, 0.5);
        backdrop-filter: blur(15px);

        padding: 1.25rem;
        border-radius: 0.75rem;

        transition: ease-in-out 0.45s;

        &:hover {
            opacity: 1;
        }

        p {
            &:first-of-type {
                margin-bottom: 1.25rem;
            }
        }
    }
}
