.sobre-bg {
    padding-top: var(--padding2);
    padding-bottom: var(--padding3);
}

.sobre-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;

    @include d(t1) {
        flex-direction: column;
        gap: 1.25rem;
    }

    @include d(m1) {
        flex-direction: column;
        gap: 1.25rem;
    }

    img {
        width: 15.625rem;

        @include d(m1) {
            height: 12.5rem;
            width: 12.5rem;
        }
    }
}

.sobre-texto {
    max-width: 45rem;

    p {
        &:first-child {
            margin-bottom: 1.25rem;
        }
    }
}
