$font-1: "Poppins", sans-serif;
$font-2: monospace;

@mixin font-1-d($size) {
    @if $size==14 {
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.3;
    } @else if $size==16 {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5;
    } @else if $size==18 {
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.3;
    } @else if $size==18b {
        font-weight: 600;
    } @else if $size==24 {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.5;
    } @else if $size==24b {
        font-weight: 700;
    } @else if $size==32 {
        font-weight: 600;
        font-size: 2rem;
        line-height: 1.2;
    } @else if $size==64 {
        font-weight: 600;
        font-size: 4rem;
        line-height: 1.125;
    }
}

@mixin font-1-nb($size) {
    @if $size==64 {
        font-size: 3rem;
    }
}

@mixin font-1-t($size) {
    @if $size==64 {
        font-size: 2rem;
    } @else if $size==32 {
        font-size: 1.5rem;
    }
}

.font-1-14 {
    @include font-1-d(14);
}

.font-1-16 {
    @include font-1-d(16);
}

.font-1-18,
.font-1-18b {
    @include font-1-d(18);
}

.font-1-18b {
    @include font-1-d(18b);
}

.font-1-24 {
    @include font-1-d(24);
}

.font-1-24b {
    @include font-1-d(24b);
}

.font-1-32 {
    @include font-1-d(32);
}

.font-1-64 {
    @include font-1-d(64);
}

@media (max-width: 1200px) {
    .font-1-64 {
        @include font-1-nb(64);
    }
}

@media (max-width: 800px) {
    .font-1-64 {
        @include font-1-t(64);
    }
    .font-1-32 {
        @include font-1-t(32);
    }
}
