.habilidades-bg {
    background-color: var(--color-8);
    position: relative;
    padding: var(--padding1) 10px
}

.habilidades-bg::before {
    position: absolute;
    top: -120px;
    right: 0;
    display: block;
    content: "";
    height: 123px;
    width: 100%;
    background: url("/assets//img//borda.svg") no-repeat;
    transform: rotateX(180deg);
}

.habilidades-bg::after {
    position: absolute;
    bottom: -120px;
    right: 0;
    display: block;
    content: "";
    height: 123px;
    width: 100%;
    background: url("/assets//img//borda.svg") no-repeat;
}

.habilidades .titulo {
    margin-bottom: 40px;
}

.skill {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 40px;
}

.skill div {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    width: 300px;
}

.skill div img {
    margin-bottom: 20px;
}

.hard.skill {
    margin-bottom: 80px;
}

.soft.skill {
    flex-direction: row-reverse;
}

.skill-titulo {
    margin-bottom: 10px;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 20px;
}

.skills-list li {
    position: relative;

    background-color: var(--color-7);
    padding: 30px;
    border-radius: 4px;

    height: 120px;
    width: 200px;
    cursor: pointer;

    opacity: 0.7;
    transition: 0.5s;
}

.skills-list li:hover {
    border-radius: 0 4px 4px 0;
    opacity: 1;
}

.skills-list li::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 30px;
    left: -4px;

    background-color: aqua;
    border-radius: 4px 0 0 4px;
    height: 20px;
    width: 4px;

    transition: 0.5s;
}

.skills-list li:hover::before {
    top: 0;
    height: 100%;
}

.descriptions-list p:last-child {
    display: none;
}

.js .js-tabcontent p {
    display: none;
}

.js .js-tabcontent p.ativo {
    display: block !important;
    animation: show 0.7s forwards;
}

.js .js-tabcontent p strong {
    color: var(--color-5);
}

@keyframes show {
    from {
        opacity: 0;
        transform: translate3d(30px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@media screen and (max-width: 1000px) {
    .habilidades .titulo {
        margin-bottom: 30px;
    }

    .hard.skill,
    .soft.skill {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .skill-titulo {
        margin-bottom: 10px;
    }

    .skill div {
        align-items: flex-start;
        gap: 0;
        width: 860px;
    }

    .skill div img {
        display: none;
    }

    .skills-list {
        grid-template-columns: repeat(4, 1fr);
    }

    .js .js-tabcontent p.ativo {
        height: 60px;
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .habilidades-bg::before {
        top: -90px;
        height: 93px;
    }

    .habilidades-bg::after {
        bottom: -90px;
        height: 93px;
    }

    .skill div {
        max-width: 760px;
    }

    .skills-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .skills-list li {
        width: 240px;
    }
}

@media screen and (max-width: 800px) {
    .habilidades-bg::before {
        top: -60px;
        height: 63px;
    }

    .habilidades-bg::after {
        bottom: -60px;
        height: 63px;
    }

    .skill div {
        max-width: 640px;
    }

    .skills-list li {
        max-width: 200px;
    }
}

@media screen and (max-width: 700px) {
    .habilidades .titulo {
        margin-bottom: 20px;
    }

    .hard.skill {
        margin-bottom: 40px;
    }

    .skill div {
        align-items: center;
        max-width: 550px;
    }

    .skills-list li {
        display: flex;
        align-items: center;
        height: 70px;
        max-width: 170px;
        word-break: break-all;
    }

    .skills-list li::before {
        top: 15px;
    }
}

@media screen and (max-width: 600px) {
    .habilidades-bg {
        padding: var(--padding2) 10px;
    }

    .skill div {
        max-width: 490px;
    }

    .skills-list li {
        max-width: 150px;
    }
}

@media screen and (max-width: 550px) {
    .habilidades-bg::before {
        top: -40px;
        height: 43px;
    }

    .habilidades-bg::after {
        bottom: -40px;
        height: 43px;
    }

    .skill div {
        align-items: center;
        max-width: 340px;
    }

    .skills-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .skills-list li {
        max-width: 160px;
    }

    .js .js-tabcontent p.ativo {
        height: 90px;
    }
}
