/* CONTAINER */
.container {
    max-width: 1200px;
    padding: var(--padding) 10px;
    margin: 0 auto;
}

/* BOTÃO */
.botao {
    display: inline-block;
    background: var(--color-1);
    color: var(--color-9);
    padding: 12px 20px;
    border-radius: 10px;
    border: 3px solid var(--color-9);
    font: 600 1rem/1.3 var(--font-1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    max-width: max-content;
    cursor: pointer;
}

.botao.secundario {
    background: linear-gradient(#444557, #262837);
    color: var(--color-1);
}

.botao:hover,
.botao.secundario:hover {
    background: linear-gradient(#575968, #000000);
    color: var(--color-1);
}

@media screen and (max-width: 600px) {
    .botao {
        padding: 12px 16px;
        font-size: 1rem;
    }
}

/* TÍTULO */
.container .titulo {
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.container .titulo::before {
    display: inline-block;
    content: "";
    height: 17px;
    width: 4px;
    background-color: var(--color-5);
    margin-right: 4px;
}

@media screen and (max-width: 600px) {
    .container .titulo {
        text-align: left;
    }
}

/* LINKS */
.link-ativo {
    color: var(--cor-p1);
}

.link-ativo:hover:after {
    background-color: var(--cor-p1);
}

.link {
    display: inline-block;
    color: var(--cor-p1);
    font: 500 1.5rem/1.5 var(--fonte-1);
    text-transform: uppercase;
}

.link::after {
    display: block;
    content: "";
    height: 4px;
    width: 100%;
    background-color: currentColor;
}

.link:hover {
    color: var(--cor-0);
}
