:root {
    --color-1: #ffffff;
    --color-2: #def7ff;
    --color-3: #e9e9e9;
    --color-4: #cccccc;
    --color-5: #21bde9;
    --color-6: #444557;
    --color-7: #262837;
    --color-8: #000000;
}

.color-1 {
    color: var(--color-1);
}

.color-2 {
    color: var(--color-2);
}

.color-3 {
    color: var(--color-3);
}

.color-4 {
    color: var(--color-4);
}

.color-5 {
    color: var(--color-5);
}

.color-6 {
    color: var(--color-6);
}

.color-7 {
    color: var(--color-7);
}

.color-8 {
    color: var(--color-8);
}