@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
    --font-1: "Poppins", sans-serif;
}

/* font-weight font-size/line-height font-family */

.font-1-xs {
    font: 400 0.75rem/1.35 var(--font-1);
}

.font-1-s {
    font: 400 1rem/1.5 var(--font-1);
}

.font-1-m,
.font-1-m-b {
    font: 400 1.125rem/1.35 var(--font-1);
}

.font-1-m-b {
    font-weight: 600;
}

.font-1-l {
    font: 400 1.5rem/1.5 var(--font-1);
}

.font-1-l-b {
    font-weight: 700;
}

.font-1-xl {
    font: 600 2rem/1.25 var(--font-1);
}

.font-1-xxl {
    font: 600 4rem/1.125 var(--font-1);
}

@media (max-width: 1200px) {
    .font-1-xxl {
        font-size: 3rem;
    }
}

@media (max-width: 800px) {
    .font-1-xxl {
        font-size: 2rem;
    }
    .font-1-xl {
        font-size: 1.5rem;
    }
}
